name: Deploy Lambda Orchestrator

on:
  push:
    branches: [ "main" ]
    paths:
      - "lambda-orchestrator/**"   # Solo se ejecuta si hay cambios en esta carpeta

permissions:
  contents: read

env:
  AWS_REGION: ${{ secrets.AWS_REGION }}
  AWS_ACCOUNT_ID: ${{ secrets.AWS_ACCOUNT_ID }}

jobs:
  deploy-lambda:
    name: Deploy Serverless Lambda
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies and Serverless Framework
        working-directory: ./lambda-orchestrator
        run: |
          npm ci
          npm install -g serverless

      - name: Deploy Lambda Orchestrator
        working-directory: ./lambda-orchestrator
        run: |
          serverless deploy --stage prod --region $AWS_REGION
